
.icon-my{
    width: 90px;
    height: 90px;
    display: inline-block;
    /* Other styles here */
  }
  
  .icon-my-servicies{
    width: 60px;
    height: 60px;
    display: inline-block;
    /* Other styles here */
  }
  .icon-servizi-wifi{
    background: url('wifi.svg');
  }
  .icon-servizi-chiavi{
    background: url('chiavi.svg');
  }  
  .icon-servizi-parcheggio{
    background: url('parcheggio.svg');
  }
  .icon-servizi-tv{
    background: url('tv.svg');
  }
  
  .icon-servizi-deposito{
    background: url('deposito.svg');
  }
  
  .icon-servizi-animali{
    background: url('animali.svg');
  }
  
  .icon-servizi-phone{
    background: url('phone.svg');
  }
  
  .icon-servizi-asciugamani{
    background: url('asciugamani.svg');
  }
  
  .icon-servizi-balcone{
    background: url('balcone.svg');
  }
  


.logobk{
  max-height: 270px;
}


  