
.highlighter-rouge {
    color: #ce887b;
    font-weight: 400;
    border: 0px solid #607D8B;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 0.1rem 0.5rem;
  }

.highlight {
    background-color: #faf9f9;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    margin: 0;
}
  
.code {
    padding : 10px;
}
.highlight .def {
    color: rgb(42, 48, 128);
    font-weight: bold
  }  

.highlight .import {
    color: rgb(130, 77, 161);
    font-weight: bold
  }  
.highlight .as {
    color: rgb(130, 77, 161);
    font-weight: bold
  }   
.highlight .for {
    color: rgb(130, 77, 161);
    font-weight: bold
}     
.highlight .if {
    color: rgb(130, 77, 161);
    font-weight: bold
}  

   
.highlight .function {
    color: rgb(231, 229, 106);
  }  
  

.highlight .hll {
  background-color: #ffc;
}
  


/* Comment.Preproc */
.highlight .c1 {
color: #999;
}


/* Name.Label */
.highlight .nn {
color: rgb(9, 150, 231);
}

/* Name.Label */
.highlight .n {
    color: rgb(0, 0, 0);
    }
     
 